html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #273c75;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  color: #ffffff;
  font-size: 30px;
  margin: 10px;
}

.flex {
  display: flex;
}

#break-length, #session-length {
  font-size: 40px;
  font-weight: 600;
}

#break-label, #session-label {
  margin: 20px 30px;
}

#break-label h2, #session-label h2 {
  font-size: 25px;
}

#timer-label {
  display: inline-block;
  margin-top: 20px;
  padding: 30px 100px;
  border: solid 10px #192a56;
  border-radius: 25px;
}

#timer-label h4 {
  font-size: 60px;
}

#timer-label h1 {
  font-size: 30px;
}